
/* grid scaffold */

.row:before, row:after { /* single colons to maintain old browser compatibility */
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.column {
	position: relative;
	float: left;
}

.column + .column {
	margin-left: 1.6%;
}

/* the various column options */

.column-1 {
	width: 5.2873282%;
}

.column-2 {
	width: 11.80641%;
}

.column-3 {
	width: 21.791%;
}

.column-4 {
	width: 24.845282%;
}

.column-5 {
	width: 31.364641%;
}

.column-6 {
	width: 37.884%;
}

.column-7 {
	width: 44.403282%;
}

.column-8 {
	width: 50.922641%;
}

.column-9 {
	width: 57.442%;
}

.column-10 {
	width: 63.961282%;
}

.column-11 {
	width: 70.48041%;
}

.column-12 {
	width: 77%;
}

/* collapse columns for small screens */
@media only screen and (max-width: 550px) {
	.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
		width: auto;
		float: none;
	}

	.column + .column {
		margin-left: 0;
	}
}