html {
	box-sizing: border-box;
	font-size: 100%;
}

body {
	padding: 0;
	margin: 0;
	
	top: 0;
	left: 0;
}

html, body {
	height: 100%;
	width: 100%;
	min-height: 30em;
	
	font-family: "Helvetica Neue", "Arial", sans-serif;
	
	overflow-x: hidden;
}

header, div, button, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {

	font-family: "geomanistextralight","Helvetica Neue", sans-serif;
	font-weight: normal;
	font-style: normal;
	
	text-align: left;
}

h3 {
	flex-grow: 2;
	
}

p, .default-content-font {
	font-family: "Cairo", "Helvetica Neue", sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: maroon;
}

a:hover {
	color: red;
}

p, figcaption {
	font-size: 1em;
	line-height: 1.5;
}

figcaption {
	font-family: "Cairo", "Helvetica", "Arial", san-serif;
	font-weight: 300;
}

figure {
	margin: 0 0 10px 0;
	padding: 0;
}

section {
	position: relative;
	
	width: 100%;
	height: auto;
	
	padding: 10px;
		
	z-index: 5;
	
}

section:nth-of-type(odd) {
	background: rgba(248,248,248,1);
}

section:nth-of-type(even) {
	background: rgba(248,248,248,1);
}

section h2 {
	position: -webkit-sticky;
	position: sticky;
	
	top: 0;
	margin: 0; 
	
	font-size: 2em;
	color: midnightblue;
	
	padding: 14.5px 0 15px 37px;
	
	background: inherit;
	z-index: 5;
}

section h3 {
	padding: 0 5px;
}



.flexbox, .flexcolumn {
	position: relative;
	z-index: 1;
	
	display: flex;
		
	align-items: baseline;
	justify-content: center;
	
	padding: 30px 35px;
}

.flexcolumn {
	flex-flow: column wrap;
}

.flex-column-content {
	width: 100%;
	text-align: left;
	flex-grow: 2;
	flex-shrink: 2;
	
	flex-basis: auto;
	
	padding: 5px 5px;
	background: inherit;
}

.flex-content {
	flex-grow: 1;
	flex-shrink: 1;
	
	flex-basis: auto;
	
	padding: 5px 5px;
	
	text-align: center;
	/* width attributes in @media query */
	
	background: inherit;
	
}

/* style modules */
.content-wrapper { /* content-wrapper controls the margins on the main site 
						  so that no content overlaps the nav-toggle */
	position: relative;
	/* left: 60px; */
	min-height: 100%;
	
	margin: 0 auto;
	top: 0;
	left: 0px;
	
	width: 100%;
}

.circle-content {
	display: table-cell;
	padding: 1em;
	
	vertical-align: center;

}

.circle-content h1 {
	font-family: "kepler", serif;
	color: white;
	
	text-align: center;
}

.circle {	
	position: relative;
	display: block;
	
	background-color: transparent;
	text-align: center;
	
	display: none;
}

.circle:after {
	display: block;
	
	height: 0;
	border-radius: 50%;
	
	background: rgba(0,0,0,0.4);
	content: "";
	
	margin: 0 auto;
}

.circle-inner {
	position: absolute;
	top: 18%;
	
	bottom: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

.circle-container {
	margin: 0 auto;
	display: table;
	
	height: 50%;
}

#top {
	position: relative;
	
	opacity: 0.9;
	height: 100%;
	width: 100%;
	
	top: 0;
	left: 0;
	
	background-image: url("../img/interface/splash.jpg");
	background-size: cover;
	
	/*background-attachment moved to media queries to fix iOS safari fixed/cover bug */
	
	background-position: top left;
	background-repeat: no-repeat;
	
	border-bottom: 1px solid rgba(208,208,208,1);
	
}

.flexbox p {
	margin: 10px 5px;
	text-align: left;
}

.standard-element-spacing {	
	margin: 0 2% 1% 0;
}

.footer--style {
	position: relative;
	
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	
	padding: 5% 2% 2% 2%;
	background-color: powderblue;
	color: black;
	
	text-align: center;
	
	z-index: 5;
	
}

.footer--style h3 {
	text-align: center;
}

.footer--style ul {
	list-style: none;
	text-indent: none;
	padding: 20px 0 0 0;
	margin: 0;
	font-weight: bold;
	line-height: 1;
}

.footer--style li {
	
}

.footer--style li a:hover {
	opacity: 0.6;
}

.footer--style li a:visited, .footer--style li a:link {
	color: black;
}

.footer-section, .footer-section h2 {
	color: transparent;
	background-color: inherit;
}

#copyright {
	font-size: smaller;
	text-align: center;
}

/* yes, a hack to make all the svgs display at approximately the same size. */

.css-logo {
	width: 200px;
	height: 200px;
	
	/* margin: 5px 0px 5px 0px; */
}

.html-logo {
	width: 197px;
	height: 197px;
	
	/* margin: 5px 0px 5px 0px; */
}

.js-logo {
	width: 155px;
	height: auto;
	
	margin-bottom: -8px;
}

.rwd-logo {
	width: 220px;
	height: auto;
	
	margin-bottom: -44px;
}

.bootstrap-logo {
	width: 120px;
	height: auto;
}

.commodore-logo {
	width: 170px;
	height: 170px;
}

.edu-logo {
	width: 150px;
	height: 150px;
}

.small-img {
	position: relative;
	display: block;
	
	max-width: 100%;
	
	margin: 0;
	padding: 0;
}

.medium-box {
	position: relative;
	float: right;
	width: 30%;
	height: 500px;
	margin: 3% auto;
}

@keyframes bounce {
	0%, 100% {
		bottom: 3.5em;
		/* background-color: rgba(63, 174, 191, 0.8); */
	}
	
	50% {
		bottom: 3em;
		/*background-color: rgba(63,191,63,0.2) */
	}
}

object, iframe {
	border: none;
	width: 90%;
	height: 500px;
	
	margin: 2%;
}

#scroll-indicator.idle-user {
	animation: bounce 1s 10;
	animation-timing-function: ease-in-out;
}

#scroll-indicator {
	display: block;
	position: absolute;
	
	/* background-color: rgba(63,191,63,0.8);
	border-radius: 50%;
	border: 3px solid white; */
	
	width: 80px;
	height: 80px;
	border-radius: 50%;
	
	left: 0;
	right: 0;
	margin: auto;
		
	bottom: 3.5em;
	
	
	z-index: 10;
}

/* resume styles */

@font-face {
	font-family: 'CMUSerif';
	src: url('../vendor/fonts/cmunrm.ttf');
	src: url('../vendor/fonts/cmunrm.ttf') format('truetype');
}

@font-face {
	font-family: 'CMUSerifBold';
	src: url('../vendor/fonts/cmunrb.ttf');
	src: url('../vendor/fonts/cmunrb.ttf') format('truetype');
}

@font-face {
	font-family: 'CMUSerifItalic';
	src: url('../vendor/fonts/cmunui.ttf');
	src: url('../vendor/fonts/cmunui.ttf') format('truetype');
}

.container {
	position: relative;
	width: 100%;
}
#resume, #my-info {
	font-family: "CMUSerif", Georgia, serif;
	text-align: left;
	padding-left: 5%;
	padding-right: 5%;	
}

#resume section em {
	font-family: CMUSerifItalic, Georgia, serif;
	font-style: normal;
}

#resume section strong {
	font-family: CMUSerifBold, Georgia, serif;
	font-weight: normal;
}

#my-info p, #my-info h1 {
	text-align: center;
	font-size: 1.2em;
	line-height: 1;
	margin: 0;
	padding: 0;
}

#my-info h1 {
	font-size: 2em;
	font-weight: bold;
}

#resume {
	line-height: 1;
	font-size: 1.2em;
}

#resume h3, #resume h4 {
	font-size: 1.2em;

	font-family: CMUSerifBold, Georgia, serif;
	text-align: left;
}

#resume section ul {
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 18px;
}

#resume section table, #resume section tr, #resume section th, #resume section td, #resume p {
	border: none;
	outline: none;
	margin: 0;
	line-height: 1.5;
	padding-bottom: 0;
	padding-top: 0;
}

#resume-education table tr {
	margin-top: 0;
	
}

.resume-dates {
	text-align: left;
	padding: 0;
	margin: 0;
	
	width: 98%;
	
	text-indent: none;
	text-decoration: none;
}

th a {
	font-weight: normal;
}

#my-info {
	padding-bottom: 50px !important;
}

#resume-publications, #resume-education, #technical-skills {
	padding-bottom: 18px;
}

.exp-highlights ul, .pubs {
	width: 88%;
}

.exp-highlights li {
	margin:0;
}

.exp-highlights ul {
	margin: 15px 0;
}

/* media queries */

@media screen and (min-width: 320px) and (max-width: 375px) {
	.flexbox {
		flex-flow: column wrap;
	}
	
	.flex-content {
		width: 100%;
	}
	
	#top {
		
		background-attachment: scroll;
	}
}

@media screen and (min-width: 736px) and (max-width: 850px) {
	.flexbox {
		flex-flow: column wrap;
	}
	
	.flex-content {
		width: 100%;
	}
	
	#top {
		
		background-attachment: scroll;
	}
}

@media screen and (min-width: 375px) and (max-width: 415px) {
	.flexbox {
		flex-flow: column wrap;
	}
	
	.flex-content {
		width: 90%;
	}
	
	#top {
		
		background-attachment: scroll;
	}
}

@media screen and (min-width: 415px) and (max-width:736px) {
	.flexbox {
		flex-flow: column wrap;
	}
	
	.flex-content {
		width: 90%;
	}
	
	#top {
		
		background-attachment: scroll;
	}
}

/* stupid iOS safari background:cover/background-attachment bug -- this doesn't even solve the issue. 
   Yay. */

@media screen and (min-width:850px) and handheld and (orientation: landscape) {
	#top {
		
		background-attachment: scroll;
	}
}

@media screen and (min-width: 850px) {
	.flexbox {
		flex-flow: row wrap;
	}
	
	.flex-content {
		width: 18vw;
	}
	
	#top {
		
		background-attachment: fixed;
	}
}

/* ALL THE MEDIA QUERIES!
 * Yes, responsive font/circle resizing and positioning for header 
 * A truly glorious, tedious, pain-in-the-ass. 
 * If anyone has better ideas about how to do this with less code, 
 * Please contact me! 
 ******************************************************************/
 
@media screen and (min-width: 1px) {	
	.circle-content h1 {
		font-size: 2.5em;
	}
	
	.circle:after {
		padding-bottom: 86%;
		width: 86%;
	}
	
	.circle-container {
		width: 80%; /* 	fix the super tiny margins for the text inside the circle on tiny displays like 						iPhone 4... for that 1 person that still uses an iPhone 4? Meh, it also affects
						the text on iPhone 5-6s Plus so all is not lost. */
	}
}

@media screen and (min-width: 515px) {	
	.circle-content h1 {
		font-size: 2.3em;
	}
	
	.circle:after {
		padding-bottom: 85%;
		width: 85%;
	}
}

@media screen and (min-width: 553px) {	
	.circle-content h1 {
		font-size: 2.3em;
	}
	
	.circle:after {
		padding-bottom: 76%;
		width: 76%;
	}
}

@media screen and (min-width: 576px) {	
	.circle-content h1 {
		font-size: 2.5em;
	}
	
	.circle:after {
		padding-bottom: 80%;
		width: 80%;
	}
}

@media screen and (min-width: 616px) {	
	.circle-content h1 {
		font-size: 2.6em;
	}
	
	.circle:after {
		padding-bottom: 76%;
		width: 76%;
	}
}

@media screen and (min-width: 656px) {	
	.circle-content h1 {
		font-size: 2.8em;
	}
	
	.circle:after {
		padding-bottom: 64%;
		width: 64%;
	}
}

@media screen and (min-width: 674px) {	
	.circle-content h1 {
		font-size: 2.9em;
	}
	
	.circle:after {
		padding-bottom: 72%;
		width: 72%;
	}
}

@media screen and (min-width: 716px) {	
	.circle-content h1 {
		font-size: 3em;
	}
	
	.circle:after {
		padding-bottom: 58%;
		width: 58%;
	}
}

@media screen and (min-width: 781px) {	
	.circle-content h1 {
		font-size: 3.3em;
	}
	
	.circle:after {
		padding-bottom: 62%;
		width: 62%;
	}
}

@media screen and (min-width: 815px) {	
	.circle-content h1 {
		font-size: 3.5em;
	}
	
	.circle:after {
		padding-bottom: 60%;
		width: 60%;
	}
}

@media screen and (min-width: 874px) {	
	.circle-content h1 {
		font-size: 3.7em;
	}
	
	.circle:after {
		padding-bottom: 58%;
		width: 58%;
	}
}

@media screen and (min-width: 935px) {	
	.circle-content h1 {
		font-size: 3.9em;
	}
	
	.circle:after {
		padding-bottom: 56%;
		width: 56%;
	}
}

@media screen and (min-width: 1003px) {
	.circle-content h1 {
		font-size: 4.15em;
	}
	
	.circle:after {
		padding-bottom: 54%;
		width: 54%;
	}
}

@media screen and (min-width: 1051px) {
	.circle-content h1 {
		font-size: 4.33em;
	}
	
	.circle:after {
		padding-bottom: 52%;
		width: 52%;
	}
}

@media screen and (min-width: 1101px) {
	.circle-content h1 {
		font-size: 4.5em;
	}
	
	.circle:after {
		padding-bottom: 50%;
		width: 50%;
	}
}

@media screen and (min-width: 1134px) {
	.circle-content h1 {
		font-size: 4.7em;
	}
	
	.circle:after {
		padding-bottom: 48%;
		width: 48%;
	}
}

@media screen and (min-width: 1213px) {
	.circle-content h1 {
		font-size: 4.6em;
	}
	
	.circle:after {
		padding-bottom: 46%;
		width: 46%;
	}
}

@media screen and (min-width: 1234px) {
	.circle-content h1 {
		font-size: 4.6em;
	}
	
	.circle:after {
		padding-bottom: 44%;
		width: 44%;
	}
}

@media screen and (min-width: 1366px) {
	.circle-content h1 {
		font-size: 5.5em;
	}
	
	.circle:after {
		padding-bottom: 48%;
		width: 48%;
	}
}
	
@media screen and (min-width: 1920px) {
	.circle-content h1 {
		font-size: 8em;
	}	
	
	.circle:after {
		padding-bottom: 50%;
		width: 50%;
	}
}

/* get that damn circle looking centered on different screen orientations */

@media all and (orientation: landscape) {
	.circle {
		top: 8%; /* moves circle down */
	}
}

@media all and (orientation: portrait) {
	.circle {
		top: 20%; /* moves circle down EVEN MORE! */
	}
}

/* resize interior circle margins for text on larger displays (portrait OR landscape */
@media screen and (min-width: 515px) and (max-width: 1920px) {
	.circle-container {
		width: 40%;
	}
}


