/* 	test.css
	A container for test styles, components and modules */

.header-icon {
	position: absolute;
	background: inherit;
	
	width: 100px;
	height: 100px;
	
	left: 45%;
	top: -45px;
	
	padding: 0;
	
	border: 2px solid rgba(208,208,208,1);
	border-radius: 50px;
	
	z-index: 6;
}